.videos {
  margin-top: 5%;
  margin-bottom: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 30%;
  height: 80vh;
}